body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    background-color: #fff; /* White background for the entire page */ 
}

.container {
    width: 80%;
    padding: 20px;
    background-color: #007bff; /* Blue background for the container */
    border-radius: 5px; 
    text-align: center;
}

.title {
    color: #fff; 
    font-size: 3em; 
}

nav a {
    color: #fff; 
    text-decoration: none;
    margin: 0 15px;
}

.student-info {
    margin-top: 20px; 
    font-size: 1.2em; 
    color: #fff; 
}

.info-item {
    margin-bottom: 5px; 
}

/* For about-course.html */
#data-structures,
#searching-algorithms,
#sorting-algorithms,
#string-searching,
#graph-algorithms {
    margin-bottom: 20px;
}

/* For about-project.html */
.button-container {
    text-align: center;
    margin-top: 20px;
}

/* For all pages */
h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
}
